[project]
	description = C solutions to the Matasano Crypto challenges
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chris-gerrit-test
[access "refs/for/refs/*"]
	read = group user/chris-gerrit-test
	push = group user/chris-gerrit-test
	label-Code-Review = -2..+2 group user/chris-gerrit-test
	label-Verified = -1..+1 group user/chris-gerrit-test
	rebase = group user/chris-gerrit-test
	removeReviewer = group user/chris-gerrit-test
	submit = group user/chris-gerrit-test
[access "refs/heads/*"]
	read = group user/chris-gerrit-test
	create = group user/chris-gerrit-test
	push = +force group user/chris-gerrit-test
	pushMerge = group user/chris-gerrit-test
[access "refs/tags/*"]
	push = group user/chris-gerrit-test
	push = +force group user/chris-gerrit-test
